<div class="span5">
<p>Your source code</p>
<textarea id="src_text" rows="10" cols="30">
</textarea>
</div>

<div class="span5">
<p>Your test code</p>
<textarea id="jasmine_spec_text" rows="10" cols="30">

</textarea>
</div>

<input type="button" onclick="window.runSpec();" value="Run Spec"/>